<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Welcome to the signup page
        </title>
        <body style="background-color: darkgray;">
            <h1 style= "text-align: center;">Sign up here</h1>
            <table style="margin-left: auto;margin-right: auto; border: 1px solid black;padding: 15px; border-spacing: 20px;">
                <form method = "post" action="/signup">
                <tr>
                    <td>
                        <label for = "nameinput">Name</label>
                    </td>
                    <td>
                        <input 
                        type="text"
                        id = "nameinput"
                        name = "name"
                        placeholder="Enter Name"
                        required
                        autofocus
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="emailinput">Email</label>
                    </td>
                    <td>
                        <input
                        type= "email"
                        id ="emailinput"
                        placeholder="Enter Email address"
                        required
                        id="emailinput"
                        name= "email"
                        >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="passwordinput">Password</label>
                    </td>
                    <td>
                        <input 
                        type="password"
                        id = "passwordinput"
                        name = "password"
                        placeholder="Enter Password"
                        required>
                    </td>
                </tr>
                <tr>
                    <td>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Signup
                    </button>
                    </td>
                </form>
                <form action="/signin" method="get">
                    <td>
                        <button class="btn btn-lg btn-primary btn-block" type="submit" >
                            Signin
                        </button>
                    </td>
                </form>
                   
                </tr>
                
            </table>
        </body>
    </head>
</html>